{% extends 'base2.html.twig' %}

{% block title %}Index des Aventuriers{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Index des Aventuriers</h1>

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Date d'Inscription</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for aventurier in aventuriers %}
                    <tr>
                        <td>{{ aventurier.id }}</td>
                        <td>{{ aventurier.nom }}</td>
                        <td>{{ aventurier.prenom }}</td>
                        <td>{{ aventurier.email }}</td>
                        <td>{{ aventurier.dateInscription ? aventurier.dateInscription|date('d/m/Y') : 'Non renseignée' }}</td>
                        <td>{{ aventurier.statut }}</td>
                        <td>
                            <a href="{{ path('app_aventurier_show', {'id': aventurier.id}) }}" class="btn btn-info btn-sm">Afficher</a>
                            <a href="{{ path('app_aventurier_edit', {'id': aventurier.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </div>
{% endblock %}
