{% extends 'base2.html.twig' %}

{% block title %}Détails de l'Aventurier{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Détails de l'Aventurier</h1>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ aventurier.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ aventurier.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Prénom</th>
                    <td>{{ aventurier.prenom }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ aventurier.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Date d'inscription</th>
                    <td>{{ aventurier.dateInscription ? aventurier.dateInscription|date('d/m/Y') : 'Non renseignée' }}</td>
                </tr>
                <tr>
                    <th scope="row">Statut</th>
                    <td>{{ aventurier.statut }}</td>
                </tr>
                <!-- Display expeditions -->
                <tr>
                    <th scope="row">Expéditions</th>
                    <td>
                        {% if aventurier.expeditions is not empty %}
                            <ul>
                                {% for expedition in aventurier.expeditions %}
                                    <li>{{ expedition.titre }}</li> 
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Aucune expédition associée.</p>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_aventurier_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_aventurier_edit', {'id': aventurier.id}) }}" class="btn btn-primary">Modifier</a>
        </div>

        <div class="mt-4">
            <h4>Supprimer cet Aventurier :</h4>
            {{ include('aventurier/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
