{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="card">
                    {% if produit.img_url %}
                        <img src="{{ vich_uploader_asset(produit, 'img_file') }}" class="card-img-top" alt="{{ produit.nom }}">
                    {% else %}
                        <img src="/path/to/default/image.jpg" class="card-img-top" alt="{{ produit.nom }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text"><strong>Prix:</strong> {{ produit.prix }} €</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
