{% extends 'base.html.twig' %}

{% block title %}Art{% endblock %}

{% block body %}
    <h1>Art</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ art.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ art.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ art.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ art.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_art_index') }}">back to list</a>

    <a href="{{ path('app_art_edit', {'id': art.id}) }}">edit</a>

    {{ include('art/_delete_form.html.twig') }}
{% endblock %}
