{% extends 'base2.html.twig' %}

{% block title %}Index des Quiz{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des Quiz</h1>

        <!-- Tableau des quizzes -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Durée Max</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                    <tr>
                        <td>{{ quiz.id }}</td>
                        <td>{{ quiz.nom }}</td>
                        <td>{{ quiz.dureeMax }} minutes</td>
                        <td>
                            <a href="{{ path('app_quiz_show', {'id': quiz.id}) }}" class="btn btn-info">Afficher</a>
                            <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="btn btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Aucun quiz trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

       
    </div>
{% endblock %}
