<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Stellar Admin{% endblock %}</title>
    {% block stylesheets %}
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('back/vendors/simple-line-icons/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('back/vendors/flag-icon-css/css/flag-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ asset('back/vendors/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/vendors/jvectormap/jquery-jvectormap.css') }}">
    <link rel="stylesheet" href="{{ asset('back/vendors/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('back/vendors/chartist/chartist.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('back/css/vertical-light-layout/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('back/images/favicon.png') }}" />
    {% endblock %}
</head>


<body>
    
<main>


    <div class="container-scroller">
        <!-- Include the navbar partial -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0  d-flex flex-row">
 <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="{{ path('app_back') }}">
        <!-- Ajouter un style inline pour garantir que l'image ne soit pas compressée -->
        <img src="{{ asset('back/images/logo0.png') }}" alt="logo" class="logo-dark" style="max-width: 70px; height: auto;" />
        <img src="{{ asset('back/images/logo0.png') }}" alt="logo-light" class="logo-light" style="max-width: 70px; height: auto;">
    </a>
    <a class="navbar-brand brand-logo-mini" href="{{ path('app_back') }}">
        <!-- Ajouter un style inline pour la version mini du logo -->
        <img src="{{ asset('back/images/logo0.png') }}" alt="logo" style="max-width: 100px; height: auto;" />
    </a>

    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
    </button>
</div>


    <div class="navbar-menu-wrapper d-flex align-items-center">
        <h1 class="mb-10 font-weight-medium d-none d-lg-flex">Welcome Craftify dashboard!</h1>
        <ul class="navbar-nav navbar-nav-right">
            <form class="search-form d-none d-md-block" action="#">
                <i class="icon-magnifier"></i>
                <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
            <li class="nav-item"><a href="#" class="nav-link"><i class="icon-basket-loaded"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="icon-chart"></i></a></li>
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator message-dropdown" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="icon-speech"></i>
                    <span class="count">50</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                    <a class="dropdown-item py-3">
                        <p class="mb-0 font-weight-medium float-start me-2">You have 7 unread mails </p>
                        <span class="badge badge-pill badge-primary float-end">View all</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        
                    </a>
                    <a class="dropdown-item preview-item">
                        
                    </a>
                    <a class="dropdown-item preview-item">
                    </a>
                </div>
            </li>



            <li class="nav-item dropdown language-dropdown d-none d-sm-flex align-items-center">
                <a class="nav-link d-flex align-items-center dropdown-toggle"  href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-inline-flex">
                        <i class="flag-icon flag-icon-tn"></i>
                    </div>
                    <span class="profile-text font-weight-normal">Tunisia</span>
                </a>
            </li>

            
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">

                    <img class="img-xs rounded-circle ms-2" src="{{ asset('back/images/faces/admin4.png') }}" alt="Profile image"> <span class="font-weight-normal"> Admin </span></a>

                    
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <div class="dropdown-header text-center">
                        <img class="img-md rounded-circle" src="{{ asset('back/images/faces/admin4.png') }}" alt="Profile image">
                        <p class="mb-1 mt-3">Admin</p>
                        <p class="font-weight-light text-muted mb-0">Admin@Admin.com</p>
                    </div>
                    <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> My Profile </a>
                    <a class="dropdown-item href="{{ path('app_logout') }}"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>


        <!-- Include the sidebar partial -->

<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item navbar-brand-mini-wrapper">
            <a class="nav-link navbar-brand brand-logo-mini" href="{{ path('app_back') }}"><img src="{{ asset('back/images/logo0.png') }}" style="max-width: 70px; height: auto;" alt="logo" /></a>
        </li>
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="{{ asset('back/images/faces/admin4.png') }}" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">Admin</p>
                </div>
                <div class="icon-container">
                    <i class="icon-bubbles"></i>
                    <div class="dot-indicator bg-danger"></div>
                </div>
            </a>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Dashboard</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_back') }}">
                <span class="menu-title">Dashboard</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>


        <li class="nav-item nav-category"><span class="nav-link">Extra Pages</span></li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">User Pages</span>
                <i class="icon-disc menu-icon"></i>
            </a>
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_user_new') }}"> new user </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}"> Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}"> Register </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_back') }}"> 404 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_back') }}"> 500 </a>
            </li>
        </ul>
    </div>



    </li>

        <li class="nav-item nav-category"><span class="nav-link">gestions</span></li>


        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#foire" aria-expanded="false" aria-controls="foire">
                <span class="menu-title">Foire vertuel </span>
                <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="produit">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">Foire</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">Arts</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#evenement" aria-expanded="false" aria-controls="evenement">
                <span class="menu-title">events et participanats</span>
                <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="evenement">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">evenement</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">participants</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#produit" aria-expanded="false" aria-controls="produit">
                <span class="menu-title">produits et Commandes</span>
                <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="produit">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">Produits</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">Commandes</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#post" aria-expanded="false" aria-controls="post">
                <span class="menu-title">Postes et commantaires</span>
                <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="post">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">Postes</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tutoriel" aria-expanded="false" aria-controls="tutoriel">
                <span class="menu-title">tutoriel et cours</span>
                <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="tutoriel">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">Cours</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_back') }}">tutorieles</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>


{% block body %}
{% endblock %}


 </main>


{% block footer %}
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2025 Craftify. All rights reserved. <a href="#"> Terms of use</a><a href="#">Privacy Policy</a></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="icon-heart text-danger"></i></span>
    </div>
</footer>
            </div>
        </div>
    </div>
    {% endblock %}
{% block javascripts %}
    <!-- plugins:js -->
    <script src="{{ asset('back/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ asset('back/vendors/chart.js/chart.umd.js') }}"></script>
    <script src="{{ asset('back/vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
    <script src="{{ asset('back/vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('back/vendors/moment/moment.min.js') }}"></script>
    <script src="{{ asset('back/vendors/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('back/vendors/chartist/chartist.min.js') }}"></script>
    <script src="{{ asset('back/vendors/progressbar.js/progressbar.min.js') }}"></script>
    <script src="{{ asset('back/js/jquery.cookie.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ asset('back/js/off-canvas.js') }}"></script>
    <script src="{{ asset('back/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('back/js/misc.js') }}"></script>
    <script src="{{ asset('back/js/settings.js') }}"></script>
    <script src="{{ asset('back/js/todolist.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ asset('back/js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
    {% endblock %}
</body>
</html>